<div class="wrapper">
  <mat-card class="card">
    <mat-card-header>
      <mat-card-title>SiteMercado</mat-card-title>
      <mat-card-subtitle>Entre com sua conta</mat-card-subtitle>
    </mat-card-header>
    <form [formGroup]="loginForm" (submit)="signIn()" #formDir="ngForm">
      <mat-form-field class="form-field" appearance="outline">
        <mat-label>Usuário</mat-label>
        <input matInput type="text" formControlName="userName">
        <mat-error *ngIf="loginForm.get('userName')?.hasError('required')">
          Insira o seu nome de usuário
        </mat-error>
      </mat-form-field>
      <mat-form-field class="form-field" appearance="outline">
        <mat-label>Senha</mat-label>
        <input matInput [type]="hidePassword ? 'password' : 'text'" formControlName="password">
        <button
          type="button"
          mat-icon-button
          matSuffix
          aria-label="Example icon button with a home icon"
          (click)="hidePassword = !hidePassword">
          <mat-icon>{{hidePassword ? 'visibility_off' : 'visibility'}}
          </mat-icon>
        </button>
        <mat-error *ngIf="loginForm.get('password')?.hasError('required')">
          Insira a sua senha
        </mat-error>
      </mat-form-field>
      <button
        mat-raised-button
        type="submit"
        class="button"
        color="primary"
        [disabled]="formDir.invalid || loading">
        <span *ngIf="!loading; else spinner">Entrar</span>
        <ng-template #spinner>
          <div class="d-flex flex-row justify-content-center align-items-center">
            <span>
              Entrando
            </span>
            <mat-spinner class="ms-2" diameter="14"></mat-spinner>
          </div>
        </ng-template>
      </button>

      <app-alert *ngIf="!!errorMsg && formDir.submitted" [errorMsg]="errorMsg"></app-alert>
    </form>
  </mat-card>
</div>
