.wrapper {
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
}

.wrapper::after {
  content: "";
  background: url('../../assets/images/login-background.jpg');
  opacity: 0.6;
  height: 100vh;
  width: 100vw;
  position: absolute;
  z-index: -1;
}

.card {
  max-width: 350px;
  margin: auto;
}

.form-field,
.form-check,
.button {
  width: 100%;
}

.button {
  margin-top: 15px;
  margin-bottom: 15px;
}

.form-check {
  padding: 5px 0px;
}

.mat-card-header-text {
  width: 100%;
}

.mat-card-header {
  justify-content: center;
  text-align: center;
}
